<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/static/css/global.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/card.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/selectChild.css" />
    <link rel="icon" href="/static/icons/logo.svg" type="image/x-icon" />
    <title>Kind Auswählen</title>
  </head>
  <body>
    <div class="card neumorphism">
      <h1 class="header">Kind Auswählen</h1>
      <div class="divider"></div>
      <% for(var i = 0; i < children.length; i++) { %>
      <div class="row display-row">
        <a
          class="vertical-align underline"
          href="./child/<%= children[i].id %>/selectFile"
        >
          <%= children[i].name %>
        </a>
        <div class="icon-container">
            <a href="./child/<%= children[i].id %>/history">
            <img src="/static/icons/history.png"
            /></a>
            <a href="./child/<%= children[i].id %>/editChild">
            <img src="/static/icons/edit.png"
            /></a>
        </div>
    
      </div>
      <% if(i< children.length -1){%>
      <div class="divider-minimal"></div>
      <% } %> <% } %>
      <button class="neumorphism" onclick="window.location.href='./addChild'">
        Kind Hinzufügen
      </button>
      <a href="./editAccount" class="sub-title">Konto bearbeiten</a>
      <a class="sub-title" href="/logout">Ausloggen</a>
    </div>
    </div>
    <%- include('./partials/footer'); %>
  </body>
</html>
